
<div class="home_background">

  <%= render 'shared/navbar' %>
  <div class="container margintop_AR">
    <div class="row myname">
      <div class="col-8 mb-5">

        <h1 class="name_font home_text" >Ashanti Richardson</h1>
        <h3 class="home_text ml3" >Full Stack Web Developer</h3>
        <h6 class="home_text ml4">
          <span class="letters letters-3"> (junior)</span>
        </h6>
      </div>
    </div>
  </div>

<div class="flex projects">
  <h1 class="name_font m-auto">projects</h1>
</div>
<!-- <div class="container">
  <div class="intro">
    <p>introduction</p>
  </div>
</div> -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 mb-3 pad">
            <%= cl_image_tag("packed", class:"col-sm-12 img_homer mb-5 pad") %>
      </div>
      <div class="col-sm-12 col-lg-6 mb-5 pl-5">
                  <h5 class="montserrat mb-3 pad">PackedRight:</h5>

            <p class="montserrat">PackedRight is an Uber inspired platform but then it focusses on parcels alone. Users can log in and make a profile. They can see if there are suitable drivers in their area and book a ride for parcels of any kind. They can follow their selected driver as they approach and chat with them to ask questions. The driver can update the status of a package with just one click. Users and drivers can give each other ratings after the ride is done.</p>
      </div>
    </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 mb-3 pad">
            <%= cl_image_tag("rentart", class:"col-sm-12 img_homer mb-5 pad") %>
      </div>
      <div class="col-sm-12 col-lg-6 mb-5 pl-5">
<h5 class="montserrat mb-3"h5>Rentart:</h5>
          <p class="montserrat">Rentart is a platform where people can rent high-end tranport vehicles. On the platform people can add a profile for themselvesa as a user or add their own items that they would like to rent out. The categories available are 'helicopters', 'cars', 'planes' and 'other'. Users can leave reviews and give stars for their experiences. They can manage their reservations and message each other.  </p>
           </div>
    </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 mb-3 pad">
          <%= cl_image_tag("cocktails_app", class:"col-sm-12 img_homer mb-5 pad") %>
      </div>
      <div class="col-sm-12 col-lg-6 mb-5 pl-5">
 <h5 class="montserrat mb-3"h5>Cocktails:</h5>
          <p class="montserrat">Molo Cocktails is a site where you brows for your favorite classic cocktails but also add your own creations with pictures. </p>

      </div>
    </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 mb-3 pad">
          <%= cl_image_tag("landing_page", class:"col-sm-12 img_homer mb-5 pad") %>
      </div>
      <div class="col-sm-12 col-lg-6 mb-5 pl-5">
<h5 class="montserrat mb-3"h5>Landing Page:</h5>
          <p class="montserrat">A basic landing page</p>
              </div>
    </div>
  </div>



  <div class="">

  </div>
</div>

<div class="">
  <%= render 'shared/foot_home' %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script type="text/javascript">
  var textWrapper = document.querySelector('.ml3');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
  .add({
    targets: '.ml3 .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 2250,
    delay: (el, i) => 150 * (i+1)
  }).add({
    targets: '.ml3',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

  //////////////////////
  var ml4 = {};
  ml4.opacityIn = [0,1];
  ml4.scaleIn = [0.2, 1];
  ml4.scaleOut = 3;
  ml4.durationIn = 800;
  ml4.durationOut = 6000;
  ml4.delay = 500;

  anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-2',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4',
    opacity: 0,
    duration: 500,
    delay: 500
  });

</script>
